body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 860px;
  height: 100vh;
  margin: auto;
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container .data {
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid grey;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eee;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form > * {
  margin: 2rem;
}

form * {
  font-size: 1.05rem;
}

input[type="button"], 
button {
  background-color: transparent;

  --clr: #0b6;
  color: var(--clr);
  border: 2px solid var(--clr);

  border-radius: 6px;
  padding: 1em 2em;
  margin: .5em;
  
  transition: all .4s;
}
input[type="button"]:hover, 
button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 6px 0px #bbb;

  color: white;
  background-color: var(--clr);
}

table button {
  --clr: #c61;
  padding: .8em 1.6em;
}